<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Math_School.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Math_School.Properties.Settings>
            <setting name="strDataSource" serializeAs="String">
                <value />
            </setting>
            <setting name="strDataSourceLocal" serializeAs="String">
                <value />
            </setting>
            <setting name="finaloutput" serializeAs="String">
                <value />
            </setting>
            <setting name="toggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gradelevel" serializeAs="String">
                <value />
            </setting>
            <setting name="questionno" serializeAs="String">
                <value />
            </setting>
            <setting name="correct1" serializeAs="String">
                <value />
            </setting>
            <setting name="correct2" serializeAs="String">
                <value />
            </setting>
            <setting name="correct3" serializeAs="String">
                <value />
            </setting>
            <setting name="correct4" serializeAs="String">
                <value />
            </setting>
            <setting name="correct5" serializeAs="String">
                <value />
            </setting>
            <setting name="correct6" serializeAs="String">
                <value />
            </setting>
            <setting name="correct7" serializeAs="String">
                <value />
            </setting>
            <setting name="correct8" serializeAs="String">
                <value />
            </setting>
            <setting name="correct9" serializeAs="String">
                <value />
            </setting>
            <setting name="correct10" serializeAs="String">
                <value />
            </setting>
            <setting name="generatedcodeuser" serializeAs="String">
                <value />
            </setting>
            <setting name="tempid" serializeAs="String">
                <value />
            </setting>
        </Math_School.Properties.Settings>
    </userSettings>
</configuration>